Pillow
opencv-python-headless 
torch
diffusers
numpy
streamlit_js_eval
streamlit-lottie
streamlit
wikipedia
Wikipedia-API
pinecone
streamlit-image-select
requests
streamlit-navigation-bar
langchain-community
transformers
PyPDF2
sentence_transformers
PyMuPDF